/* --------------------------------- */
/* Answer */
.answer__content {
    border-bottom: solid 1px #c0c0d5;
}

.element-answer__name {
    border: solid 1px #c0c0d5;
    border-bottom: none;
    background: #f1f1f5;
    display: grid;
    grid-auto-flow: column;
    grid-template: auto / 20px 1fr;
    transition: all 1s ease-out;
    cursor: pointer;
}

.element-answer__mark {
    margin: 0;
    padding: 0 5px 0 5px;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    font-size: 18px;
    line-height: 22px ;
    font-weight: 600;
    cursor: pointer;
}

.element-answer__title {
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 0;
    padding: 10px;
    text-align: left;
    color: #000000;
    font-size: 18px;
    line-height: 22px ;
    font-weight: 600;
}

.element-answer__text {
    margin: 0;
    padding: 10px 10px 10px 20px;
    text-align: left;
    color: #000000;
    font-size: 16px;
    line-height: 20px ;
    font-weight: 400;
    border: solid 1px #c0c0d5;
    border-bottom: none;
}

.element-answer__text_hide {
    display: none;
}

.element-answer__text_visible {
    animation: element-answer__text_visible .5s linear both;
}

@-webkit-keyframes element-answer__text_visible {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

/*@-webkit-keyframes element-answer__text_hide {*/
/*    0% {*/
/*        opacity: 1;*/
/*    }*/
/*       50% {*/
/*        opacity: 0;*/
/*        transform: scale3d(.3, .3, .3);*/
/*    }*/
/*}*/


@media screen and (max-width: 1280px){

    .element-answer__title {
        font-size: calc(15px + (18 - 15) * ((100vw - 800px) / (1280 - 800)));
        line-height: calc(19px + (22 - 19) * ((100vw - 800px) / (1280 - 800)));
    }

    .element-answer__mark {
        font-size: calc(15px + (18 - 15) * ((100vw - 800px) / (1280 - 800)));
        line-height: calc(19px + (22 - 19) * ((100vw - 800px) / (1280 - 800)));
    }

    .element-answer__text {
        font-size: calc(13px + (16 - 13) * ((100vw - 800px) / (1280 - 800)));
        line-height: calc(16px + (20 - 16) * ((100vw - 800px) / (1280 - 800)));
    }

}


@media screen and (max-width: 800px){

    .element-answer__title {
        font-size: calc(13px + (16 - 13) * ((100vw - 500px) / (800 - 500)));
        line-height: calc(17px + (20 - 17) * ((100vw - 500px) / (800 - 500)));
    }

    .element-answer__mark {
        font-size: calc(13px + (16 - 13) * ((100vw - 500px) / (800 - 500)));
        line-height: calc(17px + (20 - 17) * ((100vw - 500px) / (800 - 500)));
    }

    .element-answer__text {
        font-size: calc(12px + (14 - 12) * ((100vw - 500px) / (800 - 500)));
        line-height: calc(15px + (18 - 14) * ((100vw - 500px) / (800 - 500)));
    }

}

@media screen and (max-width: 500px){

    .element-answer__text {
        font-size: calc(13px + (15 - 13) * ((100vw - 280px) / (500 - 280)));
        line-height: calc(16px + (20 - 16) * ((100vw - 280px) / (500 - 280)));
    }

    .element-answer__title {
        font-size: calc(12px + (16 - 12) * ((100vw - 280px) / (500 - 280)));
        line-height: calc(14px + (20 - 14) * ((100vw - 280px) / (500 - 280)));
    }

    .element-answer__mark {
        font-size: calc(12px + (16 - 12) * ((100vw - 280px) / (500 - 280)));
        line-height: calc(14px + (20 - 14) * ((100vw - 280px) / (500 - 280)));
    }

}