/* --------------------------------- */
/* Card */

.card__title {
    margin: 0;
    padding: 0;
    text-align: left;
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 22px ;
    font-weight: 600;
}

.card__text {
    margin: 0;
    padding: 10px 0 0 0;
    text-align: justify;
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 20px ;
    font-weight: 400;
}

.card__img {
    display: block;
    margin: 0;
    padding: 0;
    align-self: start;
}

.element-card__list {
    margin: 0;
    padding: 10px;
    border: 1px solid var(--altenative-color);
    display: grid;
    grid-template: max-content 1fr max-content / 1fr;
}

.card__content {
    margin: 0;
    padding: 10px 0;
}

.card__button {
    width: 100%;
}

.card__list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    gap: 50px;
}

.card__img {
    display: block;
    object-fit: cover;
    object-position: center;
    height: 200px;
    width: 100%;
}

@media screen and (max-width: 1280px){
    .card__img {
        height: calc(120px + (200 - 120) * ((100vw - 800px) / (1280 - 800)));
    }
    .card__list {
        gap: calc(25px + (50 - 25) * ((100vw - 800px) / (1280 - 800)));
    }
    .card__title {
        font-size: calc(15px + (18 - 15) * ((100vw - 800px) / (1280 - 800)));
        line-height: calc(19px + (22 - 19) * ((100vw - 800px) / (1280 - 800)));
    }
    .card__text {
        font-size: calc(13px + (16 - 13) * ((100vw - 800px) / (1280 - 800)));
        line-height: calc(16px + (20 - 16) * ((100vw - 800px) / (1280 - 800)));
    }
}


@media screen and (max-width: 800px){
    .card__list {
        padding: 0 calc(5px + (40 - 5) * ((100vw - 500px) / (800 - 500)));
        grid-template: auto/repeat(2, 1fr);
        gap: calc(25px + (40 - 25) * ((100vw - 500px) / (800 - 500)));
    }
    .card__title {
        font-size: calc(13px + (16 - 13) * ((100vw - 500px) / (800 - 500)));
        line-height: calc(17px + (20 - 17) * ((100vw - 500px) / (800 - 500)));
    }
    .card__text {
        font-size: calc(12px + (14 - 12) * ((100vw - 500px) / (800 - 500)));
        line-height: calc(15px + (18 - 14) * ((100vw - 500px) / (800 - 500)));
    }
    .card__img {
        height: calc(100px + (200 - 100) * ((100vw - 500px) / (800 - 500)));
    }
}

@media screen and (max-width: 500px){
    .card__list {
        padding: 0 calc(5px + (50 - 5) * ((100vw - 280px) / (500 - 280)));
        grid-template: auto/ 1fr;
        gap: calc(10px + (30 - 10) * ((100vw - 280px) / (500 - 280)));
    }
    .card__img {
        height: calc(100px + (200 - 100) * ((100vw - 280px) / (500 - 280)));
    }
    .card__text {
        font-size: calc(13px + (15 - 13) * ((100vw - 280px) / (500 - 280)));
        line-height: calc(16px + (20 - 16) * ((100vw - 280px) / (500 - 280)));
    }
    .card__button {
        padding: calc(5px + (10 - 5) * ((100vw - 280px) / (500 - 280))) calc(10px + (20 - 10) * ((100vw - 280px) / (500 - 280)));;
        font-size: calc(12px + (18 - 12) * ((100vw - 280px) / (500 - 280)));
        line-height: calc(14px + (20 - 14) * ((100vw - 280px) / (500 - 280)));
    }
    .card__title {
        font-size: calc(12px + (18 - 12) * ((100vw - 280px) / (500 - 280)));
        line-height: calc(14px + (20 - 14) * ((100vw - 280px) / (500 - 280)));
    }
}