html {
    scroll-behavior: smooth;
}

body {
    --main-color: #064867;
    --altenative-color: #2699cc;
    --alternative-button-text-color: #FFFFFF;
    --background-color: #FFFFFF;
    --alternative-background-color: #f1f1f5;
    --alernative-border-color: #c0c0d5;
    --main-text-color: #000000;
    --alternative-text-color: #FFFFFF;
    --accent-color: #a629a0;
    --overlay-color: rgba(0, 0, 0, .5);
}

.main {
    grid-row: 2/3;
    grid-column: 2/3;
}

.page {
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', 'Arial', sans-serif;
    padding: 25px;
    max-width: 1240px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.page__lock {
    overflow: hidden;
}

.page__button {
    margin: 0;
    padding: 10px 20px;
    outline: none;
    border: 1px solid var(--altenative-color);
    background-color: var(--altenative-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s ease;
}

.page__button:hover {
    background-color: var(--main-color);
}

.page__button_transparent {
    background-color: var(--background-color);
    color: #2699cc;
}

.page__button_transparent:hover {
    background-color: var(--altenative-color);
    color: var(--alternative-button-text-color);
}

.page__section_center {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: max-content / 1fr max-content 1fr;
}

.page__position-center {
    margin: 0;
    padding: 20px 0 0 0;
    grid-column: 2/3;
}

.page__title {
    z-index: 100;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #064867;
    font-size: 40px;
    line-height: 60px ;
    font-weight: 700;
}

.page__chapter {
    margin: 0;
    padding: 10px 0;
    text-align: left;
    color: #064867;
    font-size: 30px;
    line-height: 45px ;
    font-weight: 700;
}

.page__subchapter {
    margin: 0;
    padding: 10px 0 0 0;
    text-align: left;
    color: #000000;
    font-size: 20px;
    line-height: 30px ;
    font-weight: 600;
}

.app__subtitle {
    margin: 0;
    padding: 0;
    text-align: left;
    color: #000000;
    font-size: 18px;
    line-height: 40px ;
    font-weight: 600;
}

.page__text {
    margin: 0;
    padding: 10px 0 0 0;
    text-align: left;
    color: #000000;
    font-size: 16px;
    line-height: 26px ;
    font-weight: 400;
}

.page__text_footer {
    color: var(--altenative-color);
}

.app__mark {
    display: inline-block;
    font-size: 16px;
    line-height: 26px ;
    font-weight: 700;
    margin: 0;
    padding: 0 10px 0 10px;
    align-self: center;
}

.app__indent {
    text-indent: 15px;
}

.page__list {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.page__list_mark {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    list-style: disc;

}

.page__section {
    margin: 0;
    padding: 40px 0;
}

.page__section_border {
    border-top: 1px solid var(--altenative-color);
}

.page__section_gray {
    background: var(--alternative-background-color);
}

.page__link {
    list-style: none;
    text-decoration: none;
    transition: all 1s ease;
    color: var(--main-color);
    cursor: pointer;
}

.page__link:hover {
    color: var(--altenative-color);
}

.page__link:visited {
    color: var(--main-color);
}


.spinner {
    position: absolute;
    height: 60px;
    width: 60px;
    border: 3px solid transparent;
    border-top-color: #A04668;
    top: 50%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.spinner:before{
    content:'';
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #254E70;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    animation: spin 3s linear infinite;
}

.spinner:after{
    content:'';
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #FFFBFE;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    animation: spin 4s linear infinite;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


@media screen and (max-width: 1280px){
    .page {
        padding: 28px calc(5px + (20 - 5) * ((100vw - 280px) / (1280 - 280))) 24px calc(5px + (20 - 5) * ((100vw - 280px) / (1280 - 280)));
    }
    .page__text {
        padding: calc(5px + (10 - 5) * ((100vw - 280px) / (1280 - 280))) 0 0 0;
        font-size: calc(14px + (16 - 14) * ((100vw - 280px) / (1280 - 280)));
        line-height: calc(18px + (26 - 18) * ((100vw - 280px) / (1280 - 280)));
     }
    .page__section {
        padding: calc(16px + (40 - 16) * ((100vw - 280px) / (1280 - 280))) 0;
    }
    .page__title {
        font-size: calc(20px + (40 - 20) * ((100vw - 280px) / (1280 - 280)));
        line-height: calc(26px + (60 - 26) * ((100vw - 280px) / (1280 - 280)));
    }
    .page__subchapter {
        font-size: calc(14px + (20 - 14) * ((100vw - 280px) / (1280 - 280)));
        line-height: calc(24px + (30 - 24) * ((100vw - 280px) / (1280 - 280)));
    }
    .app__mark {
        font-size: calc(14px + (16 - 14) * ((100vw - 280px) / (1280 - 280)));
        line-height: calc(18px + (26 - 18) * ((100vw - 280px) / (1280 - 280)));
    }
    .page__list_mark {
        font-size: calc(14px + (22 - 14) * ((100vw - 280px) / (1280 - 280)));
    }
    .page__button {
        padding: calc(5px + (10 - 5) * ((100vw - 280px) / (1280 - 280))) calc(10px + (20 - 10) * ((100vw - 280px) / (1280 - 280)));
        font-size: calc(12px + (18 - 12) * ((100vw - 280px) / (1280 - 280)));
        line-height: calc(14px + (20 - 14) * ((100vw - 280px) / (1280 - 280)));
    }
    .page__chapter {
        font-size: calc(16px + (30 - 16) * ((100vw - 280px) / (1280 - 280)));
        line-height: calc(25px + (45 - 25) * ((100vw - 280px) / (1280 - 280)));
    }
}