/* --------------------------------- */
/* Going */

.going-card__list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(4, 1fr);
    gap: 50px;
}

.going__title {
    margin: 0;
    padding: 0;
    text-align: left;
    color: #000000;
    font-size: 16px;
    line-height: 20px ;
    font-weight: 600;
}

.going__text {
    margin: 0;
    padding: 10px 0 0 0;
    text-align: left;
    color: #000000;
    font-size: 14px;
    line-height: 16px ;
    font-weight: 400;
}

.going__img {
    object-fit: cover;
    object-position: center;
    display: block;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    align-self: start;
}


.testgo-going__list {
    grid-row: 2/3;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template: auto /repeat(4, 1fr);
    gap: 50px;
}

.going__list {
    margin: 0;
    padding: 10px;
    border: 1px solid #2699cc;
    display: grid;
    grid-template: max-content 1fr max-content / 1fr;
}

.going__list-click {
    cursor: pointer;
}
.going__content {
    margin: 0;
    padding: 10px 0 0 0;
}

.going-button__hide {
    display: none;
}

@media screen and (max-width: 1280px){

    .testgo-going__list {
        gap: calc(25px + (50 - 25) * ((100vw - 900px) / (1280 - 900)));
    }

    .going__title {
        font-size: calc(14px + (16 - 14) * ((100vw - 900px) / (1280 - 900)));
        line-height: calc(17px + (20 - 17) * ((100vw - 900px) / (1280 - 900)));
    }

    .going__text {
        font-size: calc(12px + (14 - 12) * ((100vw - 900px) / (1280 - 900)));
        line-height: calc(14px + (16 - 14) * ((100vw - 900px) / (1280 - 900)));
    }

    .going__img {
        height: calc(80px + (100 - 80) * ((100vw - 900px) / (1280 - 900)));
    }
}

@media screen and (max-width: 900px){

    .testgo-going__list {
        grid-template: auto /repeat(3, 1fr);
        gap: calc(25px + (30 - 25) * ((100vw - 800px) / (900 - 800)));
    }

    .going__title {
        font-size: calc(15px + (15.5 - 13) * ((100vw - 800px) / (900 - 800)));
        line-height: calc(17px + (20 - 17) * ((100vw - 800px) / (900 - 800)));
    }

    .going__text {
        font-size: calc(13px + (14.5 - 12) * ((100vw - 800px) / (900 - 800)));
        line-height: calc(15px + (16 - 15) * ((100vw - 800px) / (900 - 800)));
    }

    .going__img {
        height: calc(100px + (110 - 100) * ((100vw - 800px) / (900 - 800)));
    }
}

@media screen and (max-width: 800px){

    .testgo-going__list {
        padding: 0 calc(5px + (40 - 5) * ((100vw - 500px) / (800 - 500)));
        grid-template: auto/repeat(2, 1fr);
        gap: calc(25px + (40 - 25) * ((100vw - 500px) / (800 - 500)));
    }

    .going__title {
        font-size: calc(13px + (16 - 13) * ((100vw - 500px) / (800 - 500)));
        line-height: calc(17px + (20 - 17) * ((100vw - 500px) / (800 - 500)));
    }

    .going__text {
        font-size: calc(12px + (14 - 12) * ((100vw - 500px) / (800 - 500)));
        line-height: calc(15px + (18 - 14) * ((100vw - 500px) / (800 - 500)));
    }

    .going__img {
        height: calc(100px + (200 - 100) * ((100vw - 500px) / (800 - 500)));
    }
}

@media screen and (max-width: 500px){

    .testgo-going__list {
        padding: 0 calc(5px + (50 - 5) * ((100vw - 280px) / (500 - 280)));;
        grid-template: auto/ 1fr;
        gap: calc(10px + (30 - 10) * ((100vw - 280px) / (500 - 280)));
    }

    .going__title {
        font-size: calc(12px + (18 - 12) * ((100vw - 280px) / (500 - 280)));
        line-height: calc(14px + (20 - 14) * ((100vw - 280px) / (500 - 280)));
    }

    .going__text {
        font-size: calc(13px + (15 - 13) * ((100vw - 280px) / (500 - 280)));
        line-height: calc(16px + (20 - 16) * ((100vw - 280px) / (500 - 280)));
    }

    .going__img {
        height: calc(100px + (150 - 100) * ((100vw - 280px) / (500 - 280)));
    }
}