/* --------------------------------- */
/* Header */

.header__wrapper {
    border-bottom: 1px solid #2699cc;
    margin: 0;
    padding: 0;
    grid-column: 2/3;
}


.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background: #FFFFFF;
    display: grid;
    grid-template:repeat(3, auto) /1fr minmax(auto, 1240px) 1fr;
}

.header__contact {
    margin: 0;
    padding: 10px 10px 0 0;
}

.header__contact_logo {
    display: none;
}

.header__contact_menu {
    display: grid;
    grid-template: max-content / 1fr max-content max-content;
    grid-row: 1/2;
    grid-column: 1/2;
}

.header__contact-img {
    display: inline-block;
    width: 25px;
    object-fit: contain;
    align-self: self-start;
}

.header__phone {
    align-self: center;
    margin: 0;
    padding: 0 0 10px 0;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: var(--main-color);
    grid-column: 2/3;
    transition: all 1s ease;
}

.header__phone:visited {
    color: var(--main-color);
}

.header__phone:hover {
    color: var(--altenative-color);
}

.header__email {
    margin: 0;
    padding: 0 0 10px 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: var(--main-color);
    grid-column: 3/4;
    transition: all 1s ease;
}

.header__email:visited {
    color: var(--main-color);
}

.header__email:hover {
    color: var(--altenative-color);
}

.header__menu {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: max-content / max-content 1fr max-content;
    grid-row: 2/3;
    grid-column: 1/2
}

.header__logo {
    margin: 0;
    padding: 0 0 0 10px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
}

.header__img {
    width: 100px;
    object-fit: cover;
}

.header__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    column-gap: 50px;
    grid-auto-flow: column;
    grid-template: auto / max-content;
    justify-content: center;
    align-self: center;
}

.header__link {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.header__link:hover {
    color: var(--altenative-color);
}

.header__order {
    display: block;
    margin: 0;
    padding: 0 10px 0 0;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
}

@media screen and (max-width: 1280px) {
    .header__wrapper {
        padding: 0 calc(20px - (20 - 0) * ((100vw - 1240px) / (1280 - 1240))) 0 calc(20px - (20 - 0) * ((100vw - 1240px) / (1280 - 1240)));
    }
    .header__link {
        font-size: calc(16px + (20 - 16) * ((100vw - 800px) / (1280 - 800)));
    }
    .header__nav {
        column-gap: calc(30px + (50 - 30) * ((100vw - 800px) / (1280 - 800)));
    }
    .header__email {
        padding-left: calc(10px + (30 - 10) * ((100vw - 280px) / (1280 - 280)));;
        font-size: calc(12px + (18 - 12) * ((100vw - 280px) / (1280 - 280)));
        line-height: calc(14px + (22 - 14) * ((100vw - 280px) / (1280 - 280)));
    }
    .header__phone {
        font-size: calc(12px + (18 - 12) * ((100vw - 280px) / (1280 - 280)));
        line-height: calc(14px + (22 - 14) * ((100vw - 280px) / (1280 - 280)));
    }
    .header__img {
        width: calc(50px + (100 - 50) * ((100vw - 280px) / (1280 - 280)));
    }
}

@media screen and (max-width: 1240px) {
    .header__wrapper {
        padding: 0 20px 0 20px;
    }
}

@media screen and (max-width: 800px){
    .header__nav {
        display: none;
    }
    .header__order {
        display: none;
    }
    .header__contact_menu {
        display: none;
    }
    .header__contact_logo {
        display: grid;
        grid-template: max-content / 1fr max-content max-content 1fr;
        grid-row: 1/2;
        grid-column: 2/3;
        align-self: center;
        padding: 0 10px 0 0;
    }
    .header__wrapper {
        padding: 20px 0 0 0;
    }
    .header__phone {
        padding: 0;
     }
    .header__email {
        padding: 0 0 0 20px;
    }
}

@media screen and (max-width: 500px){
    .header__contact_logo {
        display: none;
    }
}

@media screen and (max-width: 320px){
    .header__contact {
        grid-template: max-content max-content / 1fr;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .header__phone {
        grid-row: 1/2;
        grid-column: 1/2;
        text-align: right;
    }
    .header__email {
        grid-row: 2/3;
        grid-column: 1/2;
        padding-left: 0;
        text-align: right;
    }
}