/* --------------------------------- */
/* News */

.news__list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 50px;
}

.news__item {
    margin: 0;
    padding: 10px;
    border: 1px solid #2699cc;
    display: grid;
    grid-template: max-content 1fr max-content / 1fr;
}


.news__item_hide {
    display: none;
}

.news__pos {
    width: 100%;
}

.news__box {
    margin: 0;
    padding: 10px;
}

.news__img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.news__title {
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: left;
    color: #000000;
    font-size: 16px;
    line-height: 20px ;
    font-weight: 400;
}

.news__item_active {
    display: block;
}

.news__prev {
    grid-column: 2/3;
    width: 180px;
}

.news__next {
    grid-column: 3/4;
    width: 180px;
}

.news__buttons {
    display: grid;
    grid-template: auto / 1fr max-content max-content 1fr;
    gap: 25px;
    margin-top: 30px;
    cursor: pointer;
}

.news__button_transparent {
    background-color: #FFFFFF;
    color: #2699cc;
    cursor: none;
}


@media screen and (max-width: 1280px){
    .news__img {
        height: calc(180px + (250 - 120) * ((100vw - 800px) / (1280 - 800)));
    }

    .news__list {
        gap: calc(25px + (50 - 25) * ((100vw - 800px) / (1280 - 800)));
    }

    .news__title {
        font-size: calc(15px + (18 - 15) * ((100vw - 800px) / (1280 - 800)));
        line-height: calc(19px + (22 - 19) * ((100vw - 800px) / (1280 - 800)));
    }

}

@media screen and (max-width: 800px){
    .news__list {
        padding: 0 calc(5px + (40 - 5) * ((100vw - 500px) / (800 - 500)));
        grid-template: auto/repeat(2, 1fr);
        gap: calc(25px + (40 - 25) * ((100vw - 500px) / (800 - 500)));
    }

    .news__title {
        font-size: calc(13px + (16 - 13) * ((100vw - 500px) / (800 - 500)));
        line-height: calc(17px + (20 - 17) * ((100vw - 500px) / (800 - 500)));
    }


    .news__img {
        height: calc(150px + (220 - 100) * ((100vw - 500px) / (800 - 500)));
    }

}

@media screen and (max-width: 500px){
    .news__list {
        padding: 0 calc(5px + (50 - 5) * ((100vw - 280px) / (500 - 280)));
        grid-template: auto/ 1fr;
        gap: calc(10px + (30 - 10) * ((100vw - 280px) / (500 - 280)));
    }

    .news__img {
        height: calc(120px + (220 - 100) * ((100vw - 280px) / (500 - 280)));
    }


    .news__buttons {
        flex-direction: column;
        text-align: center;
    }

    .news__prev {
        grid-column: 2/4;
        grid-row: 1/2;
        width: 180px;
    }

    .news__next {
        grid-column: 2/4;
        grid-row: 2/3;
        width: 180px;
    }

    .news__title {
        font-size: calc(12px + (18 - 12) * ((100vw - 280px) / (500 - 280)));
        line-height: calc(14px + (20 - 14) * ((100vw - 280px) / (500 - 280)));
    }

}