/* --------------------------------- */
/* Offer */

.offer {
    margin-top: 120px;
    background: linear-gradient(to right, rgba(38,153,204,0.8) , rgba(38,153,204,0)) ,url("../image/general/offer_img.jpeg") no-repeat center top /cover;
    padding: 200px 0 120px 100px;
}

.offer__title {
    margin: 0;
    padding: 0;
    color: var(--alternative-text-color);
    font-size: 70px;
    font-weight: 800;
}

.offer__subtitle {
    margin: 0;
    padding: 0;
    color: var(--alternative-text-color);
    font-size: 20px;
    font-weight: 400;
    width: 700px;
}

.offer__button {
    margin: 50px 0 0 0;
    background-color: var(--accent-color);
}


@media screen and (max-width: 1280px) {
    .offer {
        padding-top: calc(50px + (200 - 50) * ((100vw - 280px) / (1280 - 280)));
        padding-right: calc(20px + (200 - 20) * ((100vw - 280px) / (1280 - 280)));
        padding-bottom: calc(50px + (120 - 50) * ((100vw - 280px) / (1280 - 280)));
        padding-left: calc(20px + (100 - 20) * ((100vw - 280px) / (1280 - 280)));
        margin-top: calc(100px + (120 - 100) * ((100vw - 800px) / (1280 - 800)));
   }
    .offer__title {
        font-size: calc(30px + (70 - 30) * ((100vw - 280px) / (1280 - 280)));
    }
    .offer__subtitle {
        font-size: calc(12px + (20 - 12) * ((100vw - 280px) / (1280 - 280)));
    }
    .offer__subtitle {
        width: calc(200px + (700 - 200) * ((100vw - 280px) / (1280 - 280)));
    }
}

@media screen and (max-width: 800px) {
    .offer {
        margin-top: calc(70px + (90 - 70) * ((100vw - 280px) / (800 - 280)));
    }
}